
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= message %></h1>

      <a href="/books">View Books</a>
    </div>
  </body>
</html>
