   
 body {
    font-family: sans-serif;
    }   
    ul {
        list-style-type: none;
        padding: 0;
    }
        li {
        margin: 8px 0;
    }   
    .book-title {
        font-weight: bold;
    }
    .container {
        max-width: 600px;
        margin: auto;
    }
