<!DOCTYPE html>
<html>
<body>

<h2>Edit Book</h2>

<form method="POST">
  Title: <input name="title" value="<%= book.title %>"><br>
  Author: <input name="author" value="<%= book.author %>"><br>
  Year: <input name="year" value="<%= book.year %>"><br>
  <button>Update</button>
</form>

<a href="/">Back</a>

</body>
</html>
